Server/.idea
Server/.venv
Server/test/
Server/.vscode
Server/__pycache__
Server/192.168.29.1
Server/192.168.29.136
Server/192.168.29.139


# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Other common files
*.json
*.log
*.asm

# Visual Studio specific folders
.vs/
x64/
Release/
Debug/
ipch/

# Build directories
build/
CMakeFiles/
CMakeCache.txt
Makefile
cmake_install.cmake

Client/PingC2-c.vcxproj
Client/PingC2-c.vcxproj.filters
.sln

